/* sammy firefire-dialog */
.fire-ghost { z-index: 1000; max-width: 300px; display: none; position: absolute; color: #fff; font-size: 14px; font-weight: bold;  opacity: 0.6; background: #000; border: 10px solid #000; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.fire-bar { width: 80%; color: #fff; opacity: 0.5; margin: 5px; padding: 5px 5px 5px 25px; background: #333 url("/images/fire-bar-inactive.png") no-repeat 5px; border: 1px solid #000; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; }
.fire-bar.ui-state-active { opacity: 0.9; color: #000; background: #ffffcc url("/images/fire-bar-active.png") no-repeat 5px; border: 1px solid #cccc00; }
.fire-bar:hover { opacity: 1; cursor: pointer; }
.fire-bar .count { font-weight: bold; color: #fff; }
.fire-bar .latest { font-weight: bold; color: #000; margin-left: 10px; display: inline-block; }
.fire-bar.ui-state-active .latest { border: 1px solid #cccc00; }
.fire-bar.ui-state-active .count { color: #000; }
.fire-dialog-wrapper * { z-index: 1003; }
.fire-dialog-wrapper:hover { cursor: pointer; }
.fire-dialog { position: absolute; display: none; opacity: 0.95; padding: 5px 5px 5px 20px; border: 3px solid #fff; background: #fff url('/images/fire-dialog-close.png') no-repeat top left; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-box-shadow: 0px 5px 20px #666; -webkit-box-shadow: 0px 5px 20px #666; box-shadow: 0px 5px 20px #666; }
.fire-dialog:hover { opacity: 1; background: #fff url('/images/fire-dialog-close-hover.png') no-repeat top left; }
.fire-dialog h3 { padding: 3px 5px 0 5px; margin: 0; color: #ccc; display: none; }
.fire-dialog .content { }
.fire-dialog .contentArchive { opacity: 0.5; }
.fire-bar .fire-loading
  { padding: 2px 4px 2px 24px; background: #fff url('/images/fire-loading.gif') no-repeat 0px center; }
.fire-bar .fire-success
  { padding: 2px 4px 2px 24px; background: #e5f7e3 url('/images/fire-success.png') no-repeat 0px 2px; }
.fire-bar .fire-error
  { padding: 2px 4px 2px 24px;  background: #F9EDED url('/images/fire-error.png') no-repeat 0px -2px; }
.fire-bar .fire-info
  { padding: 2px 4px 2px 24px; background: transparent url('/images/fire-info.png') no-repeat 0px -2px; }
.fire-dialog .fire {  border: 1px solid #000; padding: 8px 10px 6px 35px; margin: 5px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; }
.fire-dialog .fire-loading
  { margin: 5px; padding: 8px 10px 6px 35px; border: 1px solid #ddd; background: #fff url('/images/fire-loading.gif') no-repeat 5px; }
.fire-dialog .fire-success
  {padding: 8px 10px 6px 35px; margin: 5px; background:#e5f7e3 url('/images/fire-success.png') no-repeat; background-position:7px 7px; border:1px solid #c5e1c8; }
.fire-dialog .fire-error
  { padding: 10px 10px 10px 35px; margin: 5px; background:#F9EDED url('/images/fire-error.png') no-repeat; background-position:7px 3px; border:1px solid #BC2929; }
.fire-dialog .fire-info
  { padding: 10px 10px 10px 35px; margin: 5px; background: #eedd66 url('/images/fire-info.png') no-repeat; background-position:7px 3px;  border:1px solid #bbaa22; }

